body{
    margin: 0;
    padding:0;
    font-family: 'Anton', sans-serif;
}
h1{
    font-size:50px;    
}

h2{
    font-size: 50px;
    font-family: 'Pirata One', cursive;
}

.blue-color{
    color:lightblue;
}
.salmon-color{
    color:salmon;
}
.black-color{
    color:seagreen;
}

.first-section{
    width:45%;
    margin-left: 5%;
    padding-left: 2px; 
    float:left;
}
.img-1{
        
        width: 35%;
        margin-top:25px;
        margin-left:5%;
    }
    .second-section{
        width:50%;
        margin-top:4%;
        padding-left: 2px;
        float:right;
    }
    .img-2{
        width:28%;
        margin-top:30px;
        margin-left:5%;
        padding-left: 10px;
        float:left;
    }
    .second-part{
        margin-top:5%;
    }
    img{
        width:100%;
    }
    p{
        text-align: justify;
        color:gray;
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(90deg, lime, #66CDAA);
        padding:10px 20px;
        border-radius: 10px;;
    }

    .main{
        width:80%;
        margin-top:40%;
        margin-left:150px;
        font-family: 'Libre Baskerville', serif;
        font-weight: normal;
        font-size:50px;
        text-align:center;
        
    }
    .main-1{
        color:#7FFF00;
    }
    
    
       
    .img-box1{
        width:350px;
        float:left;
        margin-left:70px;
        border:10px solid white;
        border-image: linear-gradient(45deg, white, #FDF5E6)
    }

   .box-image-size{
       width:68%;
       margin-top:40%;
       margin-left:15%;
       padding-left:15px;
   }
   .WI{
       float:left;
   }
   #working{
    font-size:40px;
    font-weight: 450px;
   }
   #div-2{
       padding-top:5%;
       margin-left:70px;
   }
   #div-1{
       margin-left: 5%;
       margin-top:0;
   }
   .four-part{
       background-image: url(../image/Group.png);
       background-repeat: no-repeat;
       background-size: 50%;
       height: 200px;
       width:82%;
       margin-left:25%;
       margin-top:10%;
       padding-left:5%;
       
   }
       
   
   .chat-button{
       text-decoration: none;
       background-image: linear-gradient(90deg, #66CDAA, #6B8E23);
       border-radius: 5px;
       padding:5px 5px;
   }
   .third-part{
    overflow: hidden;
   }
   footer p {
    text-align: center;
    font-size: 12px;
  }
  
   
      